<div class="sports-list-contents">
    <div class="p-d-flex p-jc-center" id="games">
        <div class="sports-lst-tle">   Games   </div>
    </div>
    <hr id="bottom-game">
    <div class="">
        <div id="soccer">
            <a class="sports-list p-d-flex p-ai-center" routerLink="soccer">
                <img class="p-mr-2" src="../../assets/images/sports_soccer-24px.svg"  width="20" height="20">
                Soccer
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="basketball">
                <img class="p-mr-2" src="../../assets/images/sports_basketball-24px.svg"  width="20" height="20">
                BasketBall
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="American_FootBall">
                <img class="p-mr-2" src="../../assets/images/sports_football-24px.svg"  width="20" height="20">
                American FootBall
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="Cricket">
                <img class="p-mr-2" src="../../assets/images/sports_cricket-24px.svg"  width="20" height="20">
                Cricket
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="Tennis">
                <img class="p-mr-2" src="../../assets/images/sports_tennis-24px.svg"  width="20" height="20">
                Tennis
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="BaseBall">
                <img class="p-mr-2" src="../../assets/images/sports_baseball-24px.svg"  width="20" height="20">
                BaseBall
            </a>
        </div>
        <hr>
        <div class="">
            <a class="sports-list p-d-flex p-ai-center" routerLink="Rugby">
                <img class="p-mr-2" src="../../assets/images/sports_rugby-24px.svg" style="color: rgb(255, 255, 255);" width="20" height="20">
                Rugby
            </a>
        </div>
    </div>
</div>