
<nav class="p-d-flex p-ml-2 p-mr-2 nav-cont p-mt-2">
  <div class="p-d-flex p-ai-center">
    <a class="nav-clr" routerLinkActive="active" routerLink="/sports" routerLinkActiveOptions="{exact:true}">SPORTS</a>
    <a class="nav-clr" routerLinkActive="active" routerLink="/dashboard" routerLinkActiveOptions="{exact:true}">LIVE</a>
    <a class="nav-clr" routerLinkActive="active" routerLink="/details" routerLinkActiveOptions="{exact:true}">UPCOMING</a>
  </div>
  <div class="p-ml-auto p-d-flex p-ai-center">
    <a class="nav-clr" routerLinkActive="active" routerLink="/settings" routerLinkActiveOptions="{exact:true}">Settings</a>
    <a class="nav-clr" routerLinkActive="active" routerLink="/billing" routerLinkActiveOptions="{exact:true}">Billing</a>
    <a class="nav-clr" routerLinkActive="active" routerLink="/history" routerLinkActiveOptions="{exact:true}">History</a>
    <a class="nav-clr" routerLinkActive="active" routerLink="/help" routerLinkActiveOptions="{exact:true}">Help</a>
    <a class="nav-time-clr" href="#" tabindex="-1" aria-disabled="true">14:52 PM ETA</a>
  </div>
</nav>
